modules = ["nodejs-20", "python-3.11", "web", "postgresql-16"]
[agent]
expertMode = true
integrations = ["github:1.0.0", "javascript_database:1.0.0"]
stack = "FULLSTACK_JS"

[nix]
channel = "stable-25_05"
packages = ["nano", "rsync"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3001

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
publicDir = "dist"
run = ["node", "./dist/index.cjs"]

[userenv]

[userenv.shared]
VITE_VIP_RECEIVER_ADDRESS = "0x8dE73Dc07cdf679B29731827744464161132b581"
VITE_THIRDWEB_CLIENT_ID = "821adf6c06a2e527b87f32dd6c49e5b9"
SUPABASE_DATABASE_URL = "postgresql://postgres:one2317888!!@db.mefjuecwawmjfmeofnck.supabase.co:5432/postgres"
